@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization
@using PMTs.WebApplication.Extentions;
@using PMTs.DataAccess.ModelView.Login;
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpContextAccessor
@model PMTs.DataAccess.ModelView.ProductCatalog.ScalePriceMatProductViewModel
@using System.Linq

@{
    ViewData["Title"] = "Product Pricing Master";
    var userSession = SessionExtentions.GetSession<UserSessionModel>(httpContextAccessor.HttpContext.Session, "UserSessionModel");
}

<style>
    .LockScreen {
        display: block;
        visibility: visible;
        position: absolute;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 105%;
        height: 105%;
        background-color: transparent;
        vertical-align: bottom;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.70;
        font-size: large;
        color: blue;
        font-style: italic;
        font-weight: 400;
        background-image: url("/images/report-preloading.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .swal-footer {
        text-align: center;
    }

    .tab-criteria {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
        display: inline-block;
        display: block;
        text-align: center;
        color: black;
        padding: 2em;
        border: none;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        /*box-shadow: 0px 0px 1px rgba(0,0,0,0.4);*/
        text-decoration: none !important;
        font-size: 1em;
        background-color: white;
    }
</style>

<div id="preLoadingScreen" class="LockScreen"></div>

<div class="row">
    <div class="col-12">
        <div class="card card-top-bar">
            <div class="card-header">
                <div class="row box">
                    <div class="col-md-4">
                        <h3 class="text-themecolor"><i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i> @Localizer["Product Pricing Master"] </h3>
                    </div>

                    @if (userSession.DefaultRoleId.ToString() == "4")
                    {
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <label style="float:left;padding-left:50px" class="form-check-label" id="txtSalePlant">@Localizer["All Sale Plant"]</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3">
                                            <div id="divCheckSalePlant">
                                                <div class="form-check" style="float:right">
                                                    <input type="checkbox" class="form-check-input" id="checkSalePlant" checked>
                                                    <label class="form-check-label" id="labelCheckSalePlant" for="checkSalePlant"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group row" id="mutiselectSalePlant">
                                                <div class="col-md-12">
                                                    <multi-input id="idSaleOrgs">
                                                        <input list="saleorgs">
                                                        <datalist id="saleorgs">
                                                            @{
                                                                foreach (var item in Model.Plants)
                                                                {
                                                                    <option value="@item.SaleorgsDesc"></option>
                                                                }
                                                            }
                                                        </datalist>
                                                    </multi-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <label style="float:left;padding-left:50px" class="form-check-label" id="txtPlantPdt">@Localizer["All Production Plant"]</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        <div id="divCheckPlantPdt">
                                            <div class="form-check" style="float:right">
                                                <input type="checkbox" class="form-check-input" id="checkPlantPdt" checked>
                                                <label class="form-check-label" id="labelCheckPlantPdt" for="checkPlantPdt"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group row"  id="mutiselectPlantPdt">
                                            <div class="col-md-12">
                                                <multi-input id="idPlants">
                                                    <input list="plants">
                                                    <datalist id="plants">
                                                        @{
                                                            foreach (var item in Model.Plants)
                                                            {
                                                                <option value="@item.PlantsDesc"></option>
                                                            }
                                                        }
                                                    </datalist>
                                                </multi-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card-body tab-criteria">

                <div class="form-group row">
                    <div class="col-md-1" style="max-width:50px"></div>
                    <label class="col-md-1 col-form-label text-right">@Localizer["MaterialNo"]</label>
                    <div class="col-md-4">
                        <input class="form-control mt-1" id="input-mat">
                    </div>

                    <label class="col-md-1 col-form-label text-right" style="min-width:110px">@Localizer["MaterialType"]</label>
                    <div class="col-md-4">
                        <select class="form-control" id="input-mattype" style="width: 100%"
                                asp-items="@(new SelectList(Model.MaterialTypeList,"MatCode","Description"))">
                            <option value="">@Localizer["Select All"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1" style="max-width:50px"></div>
                    <label class="col-md-1 col-form-label text-right" style="min-width:110px">@Localizer["Cust Code"]</label>
                    <div class="col-md-4">
                        <input class="form-control mt-1" id="input-cust-code">
                    </div>

                    <label class="col-md-1 col-form-label text-right">@Localizer["Cust ID"]</label>
                    <div class="col-md-4">
                        <input class="form-control mt-1" id="input-cust-id">
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <div class="form-group row">

                    <div class="col-md-1" style="max-width:50px"></div>
                    <label class="col-md-1 col-form-label text-right" style="min-width:110px">@Localizer["Cust Name"]</label>
                    <div class="col-md-9">
                        <input class="form-control mt-1" id="input-cust-name">
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="form-group row" style="padding-bottom:10px">

                    <div class="col-md-1" style="max-width:50px"></div>
                    <label class="col-md-1 col-form-label text-right" style="min-width:110px">@Localizer["PC"]</label>
                    <div class="col-md-3">
                        <input class="form-control mt-1" id="input-pc1">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control mt-1" id="input-pc2">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control mt-1" id="input-pc3">
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <div class="form-group row" style="padding-bottom:10px">

                    <div class="col-md-2"></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-4 form-inline">
                        <button type="button" class="btn btn-outline-info" style="max-height:30px;min-width:100px;float: left;" onclick="SearchScalePriceMatProduct()"><i class="fas fa-search mt-1 float-left"></i>@Localizer["Search"]</button>
                        <div style="padding-left:20px"></div>
                        <button type="button" class="btn btn-outline-primary" style="max-height:30px;min-width:100px;float: left;" onclick="ClearAll()"><i class="fas fa-redo-alt mt-1 float-left"></i>@Localizer["Clear"]</button>
                    </div>
                </div>

                <hr />

                <div id="divScalePriceMatProduct" class="card-body" style="padding:2px 2px 10px 2px;">
                    <partial name="_ScalePriceMatProductTable" model="Model.scalePriceMatProductModels" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Datatable CSS -->
    <link rel="stylesheet" type="text/css" href="~/DataTable/css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTable/css/buttons.dataTables.min.css" />
    <script type="text/javascript" src="~/DataTable/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/buttons.colVis.min.js"></script>
    <script src="~/lib/DataTables/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/jszip.min.js"></script>
    <script src="~/lib/MultiSelect/multi-input.js"></script>

    <script>
        const plantChoose = '@userSession.FactoryCode';

        var viewAll = "";
        window.pdfMake.fonts = {
            THSarabunNew: {
                normal: 'THSarabunNew.ttf',
                bold: 'THSarabunNew.ttf',
                italics: 'THSarabunNew.ttf"',
                bolditalics: 'THSarabunNew.ttf',
            }
        };

        $(document).ready(function () {
            let role = '@userSession.DefaultRoleId';
            $("#preLoadingScreen").hide();
            $("#input-cust-code").focus();
            if (role === "4") {
                $('#divCheckSalePlant').css('display', 'block');
                $('#divCheckPlantPdt').css('display', 'block');
                $('#txtSalePlant').css('display', 'block');
                $('#txtPlantPdt').css('display', 'block');

                $('#mutiselectSalePlant').css('display', 'none');
                $('#txtSalePlant').text("All Sale Plant");
                $('#mutiselectPlantPdt').css('display', 'none');
                $('#txtPlantPdt').text("All Production Plant");
            }
            else {
                $('#divCheckSalePlant').css('display', 'none');
                $('#divCheckPlantPdt').css('display', 'none');
                $('#txtSalePlant').css('display', 'none');
                $('#txtPlantPdt').css('display', 'none');
            }

        });

        $('#ScalePriceMatProductTable').DataTable({
            "scrollX": true,
            "order": [[0, "asc"]],
            "dom": 'Bfrt<"float-left"i>p',
            "paging": true,
            "lengthChange": false,
            "autoWidth": true,
            "buttons": [
                {
                    extend: 'excelHtml5',
                    text: 'ดาวน์โหลด Excel',
                    createEmptyCells: true,
                    messageTop: "Pricing Scale Mat Product",
                },
            ],
            "oLanguage": {
                "sSearch": "ค้นหา:"
            }
        });

        $('#input-cust-id').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $('#input-cust-name').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $('#input-cust-code').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $('#input-pc1').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $('#input-pc2').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $('#input-pc3').on('keypress', function (e) {
            if (e.which === 13 && NoEmptyFill()) {
                SearchBOMMaterialProduct();
            }
        });

        $("#checkSalePlant").on('change', function () {
            if ($(this).prop('checked')) {
                $('#mutiselectSalePlant').css('display', 'none');
                $('#txtSalePlant').text("All Sale Plant");
            }
            else {
                $('#mutiselectSalePlant').css('display', 'block');
                $('#txtSalePlant').text("Select Sale Plant");
            }
        });

        $("#checkPlantPdt").on('change', function () {
            if ($(this).prop('checked')) {
                $('#mutiselectPlantPdt').css('display', 'none');
                $('#txtPlantPdt').text("All Production Plant");
            }
            else {
                $('#mutiselectPlantPdt').css('display', 'block');
                $('#txtPlantPdt').text("Select Production Plant");
            }
        });

        function NoEmptyFill() {
            let custId = $("#input-cust-id").val();
            let custName = $("#input-cust-name").val();
            let custCode = $("#input-cust-code").val();
            let pc1 = $("#input-pc1").val();
            let pc2 = $("#input-pc2").val();
            let pc3 = $("#input-pc3").val();
            if ((custId != "" && custId != null) || (custName != "" && custName != null) || (custCode != "" && custCode != null) || (pc1 != "" && pc1 != null) || (pc2 != "" && pc2 != null) || (pc3 != "" && pc3 != null)) {
                return true;
            } else {
                return false;
            }
        }

        function SearchScalePriceMatProduct()
        {
            let custId = $("#input-cust-id").val();
            let custName = $("#input-cust-name").val();
            let custCode = $("#input-cust-code").val();
            let pc1 = $("#input-pc1").val();
            let pc2 = $("#input-pc2").val();
            let pc3 = $("#input-pc3").val();
            let materialType = $("#input-mattype").val();
            let matNo = $("#input-mat").val();
            let selectPlantPdt = "";
            let selectSalePlant = "";
            debugger;
            if ('@userSession.DefaultRoleId' === "4") {
                selectSalePlant = JSON.stringify(getMutiPlants("mutiselectSalePlant"));
                selectPlantPdt = JSON.stringify(getMutiPlants("mutiselectPlantPdt"));

                if ($("#checkSalePlant").prop("checked") == true) {
                    selectSalePlant = "All";
                }

                if ($("#checkPlantPdt").prop("checked") == true) {
                    selectPlantPdt = "All";
                }
            }

            //if (NoEmptyFill()) {
                $.ajax({
                    type: "POST",
                    async: false,
                    dataType: "json",
                    url: '@Url.Action("SearchScalePriceMatProduct", "ProductCatalog")',
                    data: { custId: custId, custName: custName, custCode: custCode, pc1: pc1, pc2: pc2, pc3: pc3, materialType: materialType, salePlants: selectSalePlant, plantPdts: selectPlantPdt, materialNo: matNo},
                    success: function (res) {
                        if (res.IsSuccess) {

                            setTimeout(function () {
                                //hide loading
                                $("#preLoadingScreen").hide();
                            }, 1000);
                            debugger;
                            $('#divScalePriceMatProduct').html(res.View);
                            $('.modal-backdrop').css('display', 'none');
                            $('#ScalePriceMatProductTable').DataTable({
                                "scrollX": true,
                                "ordering": false,
                                "dom": 'Bfrt<"float-left"i>p',
                                "paging": true,
                                "autoWidth": true,
                                "buttons": [
                                    {
                                        extend: 'excelHtml5',
                                        text: 'ดาวน์โหลด Excel',
                                        title: "Pricing Scale Mat Product(" + new Date().yyyymmdd() + ")",
                                        messageTop: "Pricing Scale Mat Product",
                                        createEmptyCells: true,
                                        exportOptions: {
                                            title: null,
                                            orthogonal: 'export'
                                        },
                                        customize: function (xlsx) {
                                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                            // Loop over the cells
                                            $('row c', sheet).each(function () {
                                                //select the index of the row
                                                var numero = $(this).parent().index();
                                                var residuo = numero % 2;
                                                if (numero == 1) {
                                                    $(this).attr('s', '51');
                                                } else if (numero == 2) {
                                                    $('row c[r="A3"]', sheet).attr('s', 47);
                                                    $('row c[r="B3"]', sheet).attr('s', 47);
                                                    $('row c[r="C3"]', sheet).attr('s', 47);
                                                    $('row c[r="D3"]', sheet).attr('s', 47);
                                                    $('row c[r="E3"]', sheet).attr('s', 47);
                                                    $('row c[r="F3"]', sheet).attr('s', 47);
                                                    $('row c[r="G3"]', sheet).attr('s', 47);
                                                    $('row c[r="H3"]', sheet).attr('s', 47);
                                                    $('row c[r="I3"]', sheet).attr('s', 47);
                                                    $('row c[r="J3"]', sheet).attr('s', 47);
                                                    $('row c[r="K3"]', sheet).attr('s', 47);
                                                    $('row c[r="L3"]', sheet).attr('s', 47);
                                                    $('row c[r="M3"]', sheet).attr('s', 47);
                                                    $('row c[r="N3"]', sheet).attr('s', 47);
                                                    $('row c[r="O3"]', sheet).attr('s', 47);
                                                    $('row c[r="P3"]', sheet).attr('s', 47);
                                                    $('row c[r="Q3"]', sheet).attr('s', 47);
                                                } else if (numero > 1) {
                                                    if (residuo == 0) {//'is t',
                                                        $(this).attr('s', '25');
                                                    } else {
                                                        $(this).attr('s', '30');
                                                    }
                                                }
                                            });
                                        },
                                    }
                                ],
                                "oLanguage": {
                                    "sSearch": "ค้นหา:"
                                }
                            });

                        }
                        else {
                            swal("Search Failed!", res.ExceptionMessage, "warning");
                        }
                    },
                    error: function () { }
                });
            //} else
            //{
                //$("#input-cust-code").focus();
            //}
        }

        function getMutiPlants(id) {
            const values = [];
            const items = document.getElementById(id).getElementsByClassName("item");

            for (const item of items) {
                const words = item.textContent.slice(0, item.textContent.lastIndexOf("-"));
                values.push(words);
            }
            return values;
        }

        function ClearAll()
        {
            var elements = document.getElementsByTagName("input");
            for (var ii = 0; ii < elements.length; ii++) {
                if (elements[ii].type == "text") {
                    elements[ii].value = "";
                }
            }
        }

        Date.prototype.yyyymmdd = function () {
            var mm = this.getMonth() + 1; // getMonth() is zero-based
            var dd = this.getDate();

            return [
                (dd > 9 ? '' : '0') + dd,
                (mm > 9 ? '' : '0') + mm,
                this.getFullYear(),
            ].join('/');
        };
    </script>
}