@model PMTs.DataAccess.ModelView.ManageMO.ManageMOViewModel

@{
    ViewData["Title"] = "Index";
    var masterdataList = new List<MasterCardMO>();
}

@using PMTs.DataAccess.ModelView

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>
    .fileSelect {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        box-sizing: border-box;
        min-width: 1.5em;
        display: inline-block;
        background-color: #d4edff;
        margin-top: 0.2em;
        margin-right: 0.2em;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        text-decoration: none !important;
        cursor: pointer;
        font-size: 1em;
    }

    .line-space-btn {
        margin: 10px;
    }

    .line-space {
        margin: 5px;
    }

    .swal-footer {
        text-align: center;
    }

    input {
        font-size: medium;
    }

    .title-label {
        max-width: 170px;
        padding: 0px;
        min-width: 170px;
    }

    .vertical-sub-text {
        vertical-align: sub;
        padding-left: 10px;
    }

    .btn-size {
        max-height: 30px
    }
</style>

<br />

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <div class="row box">
                    <div class="col-md-12">
                        <h3 class="text-themecolor"><i class="fa fa-paperclip"></i> @Localizer["Attach File M/O"] </h3>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-12">
                        <div class="row line-space">
                            <div class="form-group col-md-3" style="padding: 0px;text-align: right;">
                                <label class="control-label vertical-sub-text float-right mt-1" style="font-weight:800">@Localizer["S/O Number"]</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" id="so-text-search-start" maxlength="15" />
                            </div>
                            <div class="form-group col-md-1 mt-1 text-center" style="max-width:50px">@Localizer["To"]</div>
                            <div class="form-group col-md-3">
                                <input class="form-control" id="so-text-search-end" maxlength="15" />
                            </div>
                            <div class="form-group col-md-2" style="padding: 0px;">
                                <button type="button" class="btn btn-info ml-2" onclick="SearchMODataBySaleOrder()"> <i class="fas fa-search"></i>@Localizer["Search"] </button>
                            </div>
                        </div>
                    </div>

                    <div id="divMODataTable" class="table-responsive m-t-10 col-md-12">
                        <partial name="_MODataTable" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal Attrach File*@
<div class="modal bs-example-modal-lg" id="modal-attrachFile-modata">
    <div class="modal-dialog modal-xl" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-themecolor"><i class="mdi mdi-folder-multiple-outline"></i> @Localizer["Attrach PDF File To MO Data"] </h3>
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-between container" style="margin-bottom:10px;min-height: 250px;">

                    <div class="col-md-10 container">
                        <form id="attrachFile-modata-form" method="POST" enctype="multipart/form-data">

                            <div class="row line-space">
                                <div class="form-group col-md-2 title-label">
                                    <label class="control-label vertical-sub-text  ml-5 mt-1">@Localizer["S/O Number"]</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <input class="form-control" id="attrachFile-orderItem" name="orderItem" maxlength="15" readonly />
                                    <span class="text-danger" id="attrachFile-orderItem-req" hidden>The S/O Number field is requried.</span>
                                </div>
                                <div class="form-group col-md-2 title-label">
                                </div>
                                <div class="form-group col-md-4">
                                </div>
                            </div>

                            <div class="row line-space">
                                <div class="form-group col-md-2 title-label">
                                    <label class="control-label vertical-sub-text  ml-5 mt-1 ">@Localizer["Material No"]</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <input class="form-control" id="attrachFile-materialNo" maxlength="50" readonly />
                                </div>
                            </div>

                            <div class="row line-space">
                                <div class="form-group col-md-2 title-label">
                                    <label class="control-label vertical-sub-text  ml-5 mt-1 ">@Localizer["Customer Name"]</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <input class="form-control" id="attrachFile-customerName" maxlength="50" readonly />
                                </div>
                            </div>

                            <div class="row line-space">
                                <div class="form-group col-md-3 ml-2 mt-1 " style="max-width: 160px;">
                                    <input type="file" name="fileUpload" id="fileUpload" style="display:none;" accept="application/pdf" multiple onchange="javascript:updateList()">
                                    <a href="#0" class="btn btn-outline-info" style="min-height:35px;min-width:100px;float:left" onclick="thisFileUpload();"><i class="fa fa-paperclip"></i>&ensp;@Localizer["Choose PDF"]</a>
                                    <label for="fileUpload"></label>
                                </div>
                                <div class="form-group col-md-8" style="font-size: larger;font-weight:700">
                                    <p>@Localizer["Selected files"]:</p>
                                    <div class="ml-4" style="font-size:medium;font-weight:normal" id="fileList"></div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-2 text-center" id="modate_attrachFile_option">
                        <div class="col-md-12 line-space-btn">
                            <button type="button" class="btn btn-info btn-fixsize btn-size" onclick="AttrachPdfFileWithMOData()"> <i class="fa fa-save" style="padding-right:10px"></i>@Localizer["Save"] </button>
                        </div>
                        <div class="col-md-12 line-space-btn">
                            <button type="button" class="btn btn-danger btn-fixsize btn-size" id="attrachFile-close-modal" data-dismiss="modal" data-backdrop="false">@Localizer["Cancel"] </button>
                        </div>
                    </div>

                    <div id="divMOAttrachFileTable" class="table-responsive m-t-10 col-md-12" style="margin-left: 15px;">
                        <partial name="_MOAttachFileTable" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        const moDataModel = @Html.Raw(Json.Serialize(Model));
        var materialNo = "";
        var saleOrderTemp = "";
        var isDelete = false;
        var fileNo = 1;
        var formDataObj = new FormData();
        var fileArr = [];

        $("#input-datetimepicker-create").focus(function () {
            $(this).attr({ type: 'date' });
            $("#input-datetimepicker-create").attr('min', new Date().toJSON().slice(0, 10));
        });

        $(document).ready(function () {
            formDataObj = new FormData();
            fileArr = [];

            $('#MODataTable').DataTable({
                'bFilter': false,
                "paging": true,
                "scrollX": true,
                'columnDefs': [{
                    'targets': [-1, 0], 'orderable': false,

                }, {
                    'targets': 7, "render": function (data, type, row) {

                        if (data)
                            var data = data.split(',').join('<br>');
                        return data;
                    }
                }],
                "order": [[1, "desc"]]
            });

            $('#AttachFileMoTable').DataTable({
                "paging": true,
                "order": [[2, "desc"]]
            });

        });

        $('#so-text-search-start').on('keypress', function (e) {
            if (e.which === 13) {
                SearchMODataBySaleOrder();
            }
        });

        $('#so-text-search-end').on('keypress', function (e) {
            if (e.which === 13) {
                if ($('#so-text-search-start').val() != "") {
                    SearchMODataBySaleOrder();
                } else {
                    $('#so-text-search-start').focus();
                }
            }
        });

        $('#mat-text-search').on('keypress', function (e) {
            if (e.which === 13) {
                SearchMasterDataByMaterialNo();
            }
        });

        function CreateMoDataModal() {
            $('#modal-create-modata').modal('show');
        }

        function EditMoDataModal(item) {
            let bindingDateTimeUpdate = ChangeDateTimeFormat($(item).attr("data-DueDate"));
            $('#CustomerNameEdit').val($(item).attr("data-Name"));
            $('#IdEdit').val($(item).attr("data-Id"));
            $('#FactoryCodeEdit').val($(item).attr("data-FactoryCode"));
            $('#MoStatusEdit').val($(item).attr("data-MoStatus"));
            $('#OrderItemEdit').val($(item).attr("data-OrderItem"));
            $('#MaterialNoEdit').val($(item).attr("data-MaterialNo"));
            $('#OrderQuantEdit').val($(item).attr("data-OrderQuant"));
            $('#ToleranceOverEdit').val($(item).attr("data-ToleranceOver"));
            $('#ToleranceUnderEdit').val($(item).attr("data-ToleranceUnder"));
            $('#DueDateEdit').val(bindingDateTimeUpdate);
            $('#TargetQuantEdit').val($(item).attr("data-TargetQuant"));
            $('#ItemNoteEdit').val($(item).attr("data-ItemNote"));
            $('#DistrictEdit').val($(item).attr("data-District"));
            $('#PoNoEdit').val($(item).attr("data-PoNo"));
            $('#DateTimeStampEdit').val($(item).attr("data-DateTimeStamp"));
            $('#PrintedEdit').val($(item).attr("data-Printed"));
            $('#BatchEdit').val($(item).attr("data-Batch"));
            $('#DueTextEdit').val($(item).attr("data-DueText"));
            $('#SoldToEdit').val($(item).attr("data-SoldTo"));
            $('#ShipToEdit').val($(item).attr("data-ShipTo"));
            $('#PlanStatusEdit').val($(item).attr("data-PlanStatus"));
            $('#StockQtyEdit').val($(item).attr("data-StockQty"));
            $('#IsCreateManualEdit').val($(item).attr("data-IsCreateManual"));
            $('#SentKIWIEdit').val($(item).attr("data-SentKIWI"));

            if (!$(item).attr("data-IsCreateManual"))
            {
                $('#CustomerNameEdit').attr("readonly", true);
                $('#IdEdit').attr("readonly", true);
                $('#FactoryCodeEdit').attr("readonly", true);
                $('#MoStatusEdit').attr("readonly", true);
                $('#OrderItemEdit').attr("readonly", true);
                $('#MaterialNoEdit').attr("readonly", true);
                $('#OrderQuantEdit').attr("readonly", true);
                $('#ToleranceOverEdit').attr("readonly", true);
                $('#ToleranceUnderEdit').attr("readonly", true);
                $('#DueDateEdit').attr("readonly", true);
                $('#TargetQuantEdit').attr("readonly", true);
                $('#ItemNoteEdit').attr("readonly", true);
                $('#DistrictEdit').attr("readonly", true);
                $('#PoNoEdit').attr("readonly", true);
                $('#DateTimeStampEdit').attr("readonly", true);
                $('#PrintedEdit').attr("readonly", true);
                $('#BatchEdit').attr("readonly", true);
                $('#DueTextEdit').attr("readonly", true);
                $('#SoldToEdit').attr("readonly", true);
                $('#ShipToEdit').attr("readonly", true);
                $('#PlanStatusEdit').attr("readonly", true);
                $('#StockQtyEdit').attr("readonly", true);
                $('#IsCreateManualEdit').attr("readonly", true);
                $('#SentKIWIEdit').attr("readonly", true);
                $('#targetorder-cal-edit').attr("hidden", true);
                $('#UpdateMO_Btn').attr("hidden", true);
            }

            $('#modal-edit-modata').modal('show');
        }

        //genarate data table from search modata with sale order
        function SearchMODataBySaleOrder()
        {
            let saleOrderStart = $('#so-text-search-start').val();
            let saleOrderEnd = $('#so-text-search-end').val();
            if ((saleOrderStart != "" && saleOrderStart.length <= saleOrderEnd.length && saleOrderEnd.length - saleOrderStart.length <= 5) || (saleOrderStart != "" && saleOrderEnd == "")) {
                $.ajax({
                    type: "POST",
                    async: false,
                    dataType: "json",
                    url: '@Url.Action("SearchMODatas", "ManageMO")',
                    data: { saleOrderStart: saleOrderStart, saleOrderEnd: saleOrderEnd, action: "AttachFileMO" },
                    success: function (res) {
                        if (res.IsSuccess) {
                            $('#divMODataTable').html(res.View);
                            $('.modal-backdrop').css('display', 'none');
                            $('#MODataTable').DataTable({
                                'bFilter': false,
                                "paging": true,
                                "scrollX": true,
                                'columnDefs': [{
                                    'targets': [-1, 0], 'orderable': false,

                                }, {
                                    'targets': 7, "render": function (data, type, row) {

                                        if (data)
                                            var data = data.split(',').join('<br>');
                                        return data;
                                    }
                                }],
                                "order": [[1, "desc"]]
                            });

                        }
                        else {
                            swal("Search Failed!", res.ExceptionMessage, "warning");
                        }
                    },
                    error: function () { }
                });
            } else {
                $('#so-text-search-start').focus();
            }

        }

        function ClearAlltextField()
        {
            $(".input-field").val("");

            $("#input-datetimepicker-create").attr({ type: 'text' });
            $("#input-datetimepicker-create").attr({ placeholder: '-- Please Select DateTime --' });
            $("#input-datetimepicker-create").val("");
        }

        function ChangeDateTimeFormat(oDatetime) {
            let datetimeStr = "";
            debugger;
            if (oDatetime != null && oDatetime != "") {
                let datetimeArr = oDatetime.split(' ');
                let dateArr = datetimeArr[0].split('/');
                let timeArr = datetimeArr[1].split(':');
                let year = parseInt(dateArr[2]);
                let day = parseInt(dateArr[1]);
                let month = parseInt(dateArr[0]);

                var d = new Date(Date.UTC(year, month - 1, day, 0, 0, 0));
                datetimeStr = d.toJSON().slice(0, 10);
            }
            return datetimeStr;
        }

        function ChangeDateToDatetimeCreateFormat(oDatetime) {
            let datetimeStr = "";
            if (oDatetime != null && oDatetime != "") {
                let dateArr = oDatetime.split('-');
                let year = parseInt(dateArr[0]);
                let month = parseInt(dateArr[1]);
                let day = parseInt(dateArr[2]);

                datetimeStr = new Date(Date.UTC(year, month-1, day, 0, 0, 0));
            }

            return datetimeStr;
        }

        function AttrachPdfFile(item)
        {
            let SaleOrderNumber = $(item).attr('data-OrderItem');
            let customerName = $(item).attr('data-CustomerName');
            let MaterialNo = $(item).attr('data-MaterialNo');

            $("#attrachFile-orderItem").val(SaleOrderNumber);
            $("#attrachFile-customerName").val(customerName);
            $("#attrachFile-materialNo").val(MaterialNo);
            fileArr = [];
            formDataObj = new FormData();
            $("#fileList").html("");

            $('#modal-attrachFile-modata').modal('show');

            //Call ajax get model attach file to modal
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowAttachFileMO", "ManageMO")',
                data: { orderItem : SaleOrderNumber },
                async: false,
                dataType: "json",
                success: function (res) {
                    if (res.IsSuccess)
                    {
                        $('#divMOAttrachFileTable').html(res.View);

                        $('#AttachFileMoTable').DataTable({
                            "paging": true,
                            "order": [[2, "desc"]]
                        });
                    }
                },
                error: function () {
                // return false;
                }
            });

        }

        function AttrachPdfFileWithMOData()
        {
            let saleOrderNumber = $("#attrachFile-orderItem").val();
            //formDataObj.append("unSelectedFiles", unSelectedFiles);
            $.each(fileArr, function (index, object) {
                formDataObj.append('files', object.File);
            });

            formDataObj.append('orderItem', saleOrderNumber);

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '@Url.Action("AttrachPDFFile", "ManageMO")',
                data: formDataObj,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (res) {
                    if (res.IsSuccess)
                    {
                        materialNo = "";

                        $('.modal').modal('hide');
                        $('.modal-backdrop').hide();
                        $("body").removeClass("modal-open");
                        $("body").attr("padding", "0");

                        swal("Update Successfully!", "", "success").then(function (e) {
                            if (e) {
                                $('#divMODataTable').html(res.View);
                                $('#MODataTable').DataTable({
                                    'bFilter': false,
                                    "paging": true,
                                    "scrollX": true,
                                    'columnDefs': [{
                                        'targets': [-1, 0], 'orderable': false,

                                    }, {
                                        'targets': 7, "render": function (data, type, row) {

                                            if (data)
                                                var data = data.split(',').join('<br>');
                                            return data;
                                        }
                                    }],
                                    "order": [[1, "desc"]]
                                });
                            }
                        });
                    }
                    else
                    {
                        swal("Save Failed!", res.ExceptionMessage , {icon:"warning"});
                    }
                },
                error: function () {
                // return false;
                }
            });
        }

        function thisFileUpload() {
            $("#fileUpload").click();
        }

        updateList = function () {
            var input = document.getElementById('fileUpload');
            var output = document.getElementById('fileList');

            var children = "";
            for (var i = 0; i < input.files.length; ++i) {
                children += '<li>' + input.files.item(i).name + '</li>';
                let nameOfFile = "file" + fileNo.toString();
                $("#fileList").append("<div class=\"control-group\" style=\"width:100%;color: #1b74b3;opacity:1;font-size: 14px;padding: 5px;\" id=\"div" + nameOfFile + "\"><a class=\"btn btn-small fileSelect\" id=\"" + nameOfFile + "\">" + input.files.item(i).name + "<i class=\"fa btn\" id=\"closebtn-" + nameOfFile + "\" style=\"font-size: large;padding: 0px 0px 2px 10px;color: red;\">&times;</i></a ></div >");
                document.getElementById("closebtn-" + nameOfFile).onclick = function () { DeleteCardMoFile(nameOfFile) };
                //formDataObj.append('files', $('input[type=file]')[0].files[i]);
                let tempFile = $('#fileUpload')[0].files[i];
                fileArr.push({ "Name": nameOfFile, "File": tempFile });

                fileNo++;
            }
            //output.innerHTML = '<ul>' + children + '</ul>';
        }

        function SelectDeleteFile(item)
        {
            let idOfElement = "#"+$(item).attr("id");
            if (document.querySelector(idOfElement).style.opacity == 1) {
                isDelete = false;
                document.querySelector(idOfElement).style.background = "#3b4146";
                $(idOfElement).append("<i class=\"fa fa-times btn\" id=\"closebtn-" + nameOfFile + "\" style=\"font-size: large;padding: 0px 0px 2px 10px;color: red;\"\"></i>");
                document.getElementById("closebtn-" + $(item).attr("id")).onclick = function () { DeleteCardMoFile($(item).attr("id")) };
                document.querySelector(idOfElement).style.opacity = 0.7;
            }
            else if (!isDelete)
            {
                $("#closebtn-" + $(item).attr("id")).remove();
                document.querySelector(idOfElement).style.background = "#3b4146";
                document.querySelector(idOfElement).style.opacity = 1;
            }
        }

        function DeleteCardMoFile(id)
        {
            isDelete = true;
            let elementId = "#" + id;
            //unSelectedFiles.push(document.querySelector(elementId).innerHTML.substring(0, document.querySelector(elementId).innerHTML.indexOf('<i')));
            document.querySelector(elementId).style.opacity = 0.7;
            document.querySelector(elementId).style.background = "red";
            document.querySelector(elementId).style.color = "white";

            setTimeout(function () {
                fileArr = fileArr.filter(f => { return f.Name != id });
                $("#div" + id).remove();
            }, 300);
        }

        function DeleteExistMOFile(item)
        {
            let fileName = $(item).attr('data-FileName');
            let orderItem = $(item).attr('data-OrderItem');
            let seqNo = $(item).attr('data-SeqNo');

            swal({
                title: "Are you sure delete MO file " + fileName + "?",
                text: "This data will not be visible if you press OK.",
                icon: "warning",
                buttons: {
                    confirm: "Ok",
                    cancel: true,
                },
                dangerMode: false,
                }).then((willDelete) => {
                    if (willDelete)
                    {
                        $.ajax({
                            url: '@Url.Action("DeleteFileMO", "ManageMO")',
                            data: { fileName: fileName, orderItem: orderItem, seqNo: seqNo},
                            async: false,
                            dataType: "json",
                            success: function (res) {
                                if (res.IsSuccess)
                                {
                                    $('#divMOAttrachFileTable').html(res.View);

                                    $('#AttachFileMoTable').DataTable({
                                        "paging": true,
                                        "order": [[2, "desc"]]
                                    });
                                }
                            }
                        });
                    }
            });

        }

        function PrintMOData(action, elementId, isPreview)
        {
            var saleOrders = [];
            var printSaleOrderNumber = "";
            if (action == "Edit") {
                printSaleOrderNumber = $("#OrderItemEdit").val();
            }
            else
            {
                printSaleOrderNumber = $(elementId).attr('data-OrderItem');
            }
           // let checkState = $("#checkboxId").is(":checked") ? "true" : "false";

            saleOrders.push(printSaleOrderNumber);

            if (saleOrders.length > 0) {
                var jsonObject = {
                    "OrderItem": saleOrders,
                    "MaterialNo": [],
                    "SizeOfPage": 0,
                    "IsPreview": isPreview,
                    "IsBundle": $("#chk-Bundle").is(":checked") ? "true" : "false",

                    "IsPallet": $("#chk-Pallet").is(":checked") ? "true" : "false",
                };

                $.ajax({
                    url: '@Url.Action("SetMasterCardMO", "Report")',
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        if (res.IsSuccess) {

                            masterdataList = res.MastercardMOs;

                            window.open('@Url.Action("MasterCardMO", "Report")', '_blank');

                            @*if (masterdataList != null && masterdataList != "" && masterdataList.length > 0) {
                                $.each(masterdataList, function (moKey, moObj) {
                                    let fileMos = moObj.AttchFilesBase64;
                                    if (fileMos != "" && fileMos != null) {
                                        var url = '@Url.Action("DisplayPDFAttachFile", "Report")';
                                        window.location.href = url;
                                        ////can print with attach file
                                        //var objbuilder = '';
                                        //objbuilder += ('<object width="100%" height="100%" data = "data:application/pdf;base64,');
                                        //objbuilder += (fileMos);
                                        //objbuilder += ('" type="application/pdf" class="internal">');
                                        //objbuilder += ('<embed width="100%" height="100%" src="data:application/pdf;base64,');
                                        //objbuilder += (fileMos);
                                        //objbuilder += ('" type="application/pdf"  />');
                                        //objbuilder += ('</object>');

                                        //var win = window.open("#", moObj.OrderItem + "_File");
                                        //win.document.write('<html><title>' + moObj.OrderItem + "_File" + '</title><body style="margin-top: 0px; margin - left: 0px; margin - right: 0px; margin - bottom: 0px; ">');
                                        //win.document.write(objbuilder);
                                        //win.document.write('</body></html>');
                                        //layer = jQuery(win.document);

                                    }
                                });
                            }*@
                            return false;
                        } else {
                            //$("#errorMsg").html(res.ErrorMessage);
                            swal(res.ErrorMessage, "", "warning");
                        }
                    },
                    error: function () {
                    }
                });

            }
            else {
                swal("ไม่พบ MO Data ที่ต้องการพิมพ์", "", "warning");
            }
        }
    </script>
}