@model PMTs.DataAccess.ModelView.MaintenancePrintMethod.MaintenancePrintMethodViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="box-body">
    <table id="PrintMethod-data-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col"> @Localizer["No."]</th>
                <th scope="col"> @Localizer["Code"]</th>
                <th scope="col"> @Localizer["Method"]</th>
                <th scope="col"> @Localizer["AmountColor"]</th>
                <th scope="col"> @Localizer["View"]</th>
                <th scope="col"> @Localizer["Edit"]</th>
            </tr>
        </thead>
        <tbody>
            <partial name="_DataOfTable" model="Model" />
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>