@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PMTs.DataAccess.ModelView.MaintenanceProductGroup.MaintenanceProductGroupViewModel

@{ int No = 1; }

@foreach (var item in Model.ProductGroupViewModelList)
{
    //if (item.Status == true)
    //{
    <tr>
        <th scope="row">@No</th>
        <td>@item.Code</td>
        <td>@item.Description</td>
        <td>
            <button type="button" class="btn btn-default" data-id="@item.Id" data-code="@item.Code" data-des="@item.Description"
                    onclick="viewShow(this.getAttribute('data-id'),this.getAttribute('data-code'),this.getAttribute('data-des'))"><span class="fas fa-file-alt text-info btn" aria-hidden="true"></span></button>
        </td>
        <td>
            <button type="button" class="btn btn-default" data-id="@item.Id" data-code="@item.Code" data-des="@item.Description"  data-createdDate="@item.CreatedDate" data-createdBy="@item.CreatedBy"
                    onclick="viewEdit(this.getAttribute('data-id'),this.getAttribute('data-code'),this.getAttribute('data-des'),this.getAttribute('data-createdDate'),this.getAttribute('data-createdBy'))">
                        <span class="fas fa-pencil-alt text-warning" aria-hidden="true"></span></button>
        </td>
    </tr>

    No++;
    @* } *@
}

<!-- Start View Modal -->
<div class="modal bs-example-modal-lg" id="modal-view">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["View ProductGroup"]</h4>
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Id" />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label">@Localizer["Code"]</label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="Code" id="Code" readonly />
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label">@Localizer["Description"]</label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="Description" id="Description" readonly />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-backdrop="false">@Localizer["Close"]</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
<!-- End View Modal -->
<!-- Start Edit Modal -->
<div class="modal" id="modal-edit">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <form id="edit-maintain-productgroup">
            <input type="hidden" id="ECreatedDate" />
            <input type="hidden" id="ECreatedBy" />
            @*asp-controller="MaintenanceProductGroup" asp-action="UpdateProductGroup" data-ajax="true" data-ajax-success="onUpdateSuccess" data-ajax-method="POST">*@
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Edit ProductGroup"]</h4>
                    <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" id="EId" />
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label class="control-label">@Localizer["Code"]<i style="color:red"> *</i></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="ECode" name="Code" maxlength="3" />
                        </div>

                        <div class="form-group col-md-2">
                            <label class="control-label">@Localizer["Description"]<i style="color:red"> *</i></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="EDescription" name="Description" maxlength="200" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btneditmaintainproductgroup">@Localizer["Save"]</button>
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-backdrop="false">@Localizer["Cancel"]</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Edit Modal -->

<script>
            $('.btneditmaintainproductgroup').click(function () {
            if ($("#ECode").val() === "" || $("#EDescription").val() === "") {
                swal("Please Input Data All Fields!", { icon: "warning", });
            }
            else {
                var form = JSON.stringify(getData());
              //  var form = $('#edit-maintain-productgroup').serialize();
                $.ajax({
                    url: '@Url.Action("UpdateProductGroup", "MaintenanceProductGroup")',
                    type: "POST",
                    async: false,
                    data:
                    {
                        req: form.toString()
                    },
                    dataType: "json",
                    success: function (data) {
                        UpdateProductGroupTableNew(data);
                        swal("Update Success!", { icon: "success", });
                        $('#modal-edit').modal('hide');
                        $('.modal-backdrop').hide();
                        $("body").removeClass("modal-open");
                    }
                });
            }
       });

        function UpdateProductGroupTableNew(res) {
            $('#ProductGroup-table').html(res.View);
            $('#ProductGroup-data-table').DataTable();
            $('.form-group').css('display', 'block');
            $('body').css('padding', '0px');
            $('.form-inline').css('width', '-webkit-fill-available');
            $('.form-control').css('width', '-webkit-fill-available');

        }
</script>