@model PMTs.DataAccess.ModelView.NewProduct.TransactionDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<style>
    .vdc {
        border-left: 2px solid gray;
        height: 197px;
        position: absolute;
        left: 392px; /*86%;*/
        top: 21px;
    }

    .hdc1 {
        width: 30px; /*11%*/
        border-bottom: 2px solid gray;
        position: absolute;
        left: 379px; /*440px*/
        top: 20px;
    }

    .hdc2 {
        width: 30px; /*11%*/
        border-bottom: 2px solid gray;
        position: absolute;
        left: 379px; /*440px*/
        top: 218px;
    }

    .shLendc {
        width: 330px; /*71.8*/
        border-bottom: 2px solid gray;
        position: absolute;
        left: 41px; /*4.2%*/
        top: 240px;
    }

    .shLdc1 {
        border-left: 2px solid gray;
        height: 20px;
        position: absolute;
        left: 39px; /*4.2%*/
        top: 230px;
    }

    .shLdc2 {
        border-left: 2px solid gray;
        height: 20px;
        position: absolute;
        left: 369px; /*75.9*/
        top: 230px;
    }
</style>
<div class="row" style="width: 100%">
    <div class="col-sm-6">
        <div id="pic" style="height:auto;width:auto">
            <br />
            <div id="MainPic">
                <div class="vdc" id="vdc"></div>
                <div class="hdc1" id="hdc1"></div>
                <div class="hdc2" id="hdc2"></div>
                <div class="shLendc" id="shLendc"></div>
                <div class="shLdc1" id="shLdc1"></div>
                <div class="shLdc2" id="shLdc2"></div>
                <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="dc" src="~/images/DieCutx.jpg" /><img id="roll" src="~/images/Roll.jpg" style="display: none;" width="260" /><input asp-for="modelProductSpec.CutSheetWid" type="text" style="position: absolute; left: 373px; top: 114px; width: 40px; border:none; text-align:center; color:dimgray;" readonly />
                </div>
                <div class="row">
                    <input asp-for="modelProductSpec.CutSheetLeng" type="text" style="position: absolute; left: 195px; top: 232px; width: 40px; border:none; text-align:center; color:dimgray;" class="mytextboxNumber" readonly />
                </div>
            </div>
            <div id="FilePic">
                <center>
                    @Html.TextBoxFor(m => m.modelProductSpec.PrintMasterPath, new { @id = "iDrawingPath", @style = "display:none;" })
                    @if (Model.modelProductSpec.PrintMasterPath == null)
                    {
                        <img id="Pic_Drawing" style="width: auto; height: 230px;" />
                    }
                    else
                    {
                        <img id="Pic_Drawing" src="@Url.Content(@Model.modelProductSpec.PrintMasterPath)" style="width: auto; height: 230px;" />
                    }
                </center>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-11">
                    <input id="PrintMaster" name="PrintMaster" type="file" title="search image" accept="image/*" onchange="show_Drawing(this)" tabindex="-1" />
                </div>
                <div class="col-sm-1">
                    <i id="RM_Drawing" class="mdi mdi-close" style="color:red; display:none;" onclick="ClosePic()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-5">
                @Localizer["Inside Height"] :
            </div>
            <div class="col-sm-3">
                <input type="text" asp-for="modelProductSpec.Hig" tabindex="5" class="form-control mytextboxNumber" autocomplete="off" />
                <span id="modelProductSpec_Hig-error" class="text-danger" style="display: none;">@Localizer["Height required"]</span>
            </div>
            <div class="col-sm-4">
                @*<input asp-for="modelProductSpec.CutSheetWid" type="text" hidden />
                <input asp-for="modelProductSpec.CutSheetLeng" type="text" hidden />*@
                <button id="btProcess" class="btn btn-info waves-effect waves-light" type="button" tabindex="7" hidden>@Localizer["Calculate"]</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                @Localizer["Cut Sheet Width"]&nbsp;<i style="color:red">*</i>
            </div>
            <div class="col-sm-7">
                <input type="text" id="SheetWid" maxlength="4" tabindex="6" style="width:84px; height: 25px;" class="form-control mytextboxNumber" autocomplete="off" />&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="modelProductSpec_SheetWid-error" class="text-danger" style="display: none;">@Localizer["W' required"]</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                @Localizer["Cut Sheet Length"]&nbsp;<i style="color:red">*</i>
            </div>
            <div class="col-sm-7">
                <input type="text" id="SheetLeng" maxlength="4" tabindex="7" style="width:84px; height: 25px;" class="form-control mytextboxNumber" autocomplete="off" />&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="modelProductSpec_SheetLeng-error" class="text-danger" style="display: none;">@Localizer["L' required"]</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <input class="filled-in" type="checkbox" value="" id="chkTwoP" tabindex="-1" disabled>
                <label class="form-check-label" id="lbTwoP" for="chkTwoP" style="font-size:14px; font-weight:300;">
                    @Localizer["2Pieces"]
                </label>
                <input type="hidden" asp-for="modelProductSpec.TwoPiece" />
            </div>
            <div class="col-sm-7">
                <input class="filled-in" type="checkbox" value="" id="chkGLwid" tabindex="-1" disabled>
                <label class="form-check-label" for="chkGLwid" style="font-size:14px; font-weight:300;">
                    @Localizer["Glue Wid"]
                </label>
                <input type="hidden" asp-for="modelProductSpec.GLWid" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Localizer["FG Weight"] &nbsp;<i style="color:red">*</i>
            </div>
            <div class="col-sm-4" style="text-align:center;">
                <input asp-for="modelProductSpec.WeightBox" type="text" class="form-control text-right" tabindex="-1">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <button id="btScoreW" type="button" class="btn btn-info" data-target="#modal-default" disabled>
                    <span class="btn-label">
                        <i class="mdi mdi-grease-pencil"></i>
                    </span>@Localizer["Score Width"]
                </button>
            </div>
            <div class="col-sm-8">
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="mdi mdi-grease-pencil"></i>@Localizer["Score Line Width"]</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 1"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.ScoreW1" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 9"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew9" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 2"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew2" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 10"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew10" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 3"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew3" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 11"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew11" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 4"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew4" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 12"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew12" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 5"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew5" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 13"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew13" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 6"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew6" type="text" class="form-control mytextboxNumber">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 14"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew14" type="text" class="form-control mytextboxNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 7"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew7" type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 15"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew15" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 8"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew8" type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-2">
                                        @Localizer["Line 16"]
                                    </div>
                                    <div class="col-sm-3">
                                        <input asp-for="modelProductSpec.Scorew16" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="save" class="btn btn-success" type="button">@Localizer["Save"]</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <button id="close" class="btn btn-danger" type="button">@Localizer["Close"]</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <input id="sum" type="text" class="form-control" style="text-align:center" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>