@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@model IEnumerable<PMTs.DataAccess.ModelView.Report.ReportCheckOrderModel>*@
@model PMTs.DataAccess.ComplexModel.ReportCheckOrderItem
@{
    Layout = null;
}
<style>
    .dataTables_length {
        float: left
    }
</style>

<table id="reportOrderItem" class="table table-bordered table-hover" width="100%">
    <thead class="thead-light text-center">
        @*<tr>
                <th style="width:10%">@Localizer["OrderItem"]</th>
                <th style="width:10%">@Localizer["Material No"]</th>
                <th style="width:10%">@Localizer["Product Code"]</th>
                <th style="width:11%">@Localizer["Description"]</th>
                <th style="width:15%">@Localizer["ลูกค้า"]</th>
                <th style="width:11%">@Localizer["จำนวนสั่ง(ปัจจุบัน)"]</th>
                <th style="width:11%">@Localizer["จำนวนสั่งเฉลี่ย(ก่อนหน้า)"]</th>
                <th style="width:11%">@Localizer["จำนวนสั่งรวม(ก่อนหน้า)"]</th>
                <th style="width:11%">@Localizer["จำนวนสั่งครั้ง(ก่อนหน้า)"]</th>
            </tr>*@

        <tr>
            <th colspan="1" scope="colgroup"></th>
            @*<th colspan="1" scope="colgroup"></th>*@
            <th colspan="2" scope="colgroup">@Localizer["SAP"]</th>
            <th colspan="2" scope="colgroup">@Localizer["PMTs"]</th>
            @*<th colspan="2" scope="colgroup">@Localizer["Planning"]</th>*@
        </tr>
        <tr>
            <th scope="col">@Localizer["orderitem"]</th>
            <th scope="col">@Localizer["OrderQty"]</th>
            <th scope="col">@Localizer["Due_Date"]</th>
            <th scope="col">@Localizer["OrderQty"]</th>
            <th scope="col">@Localizer["Due_Date"]</th>
            @*<th scope="col">@Localizer["OrderQty"]</th>
            <th scope="col">@Localizer["Due_Date"]</th>*@
        </tr>
    </thead>
    <tbody>
        @{ if (Model.ReportFinal != null)
            {

                @foreach (var item in Model.ReportFinal)
                {
                    <tr>
                        <td class="text-center">@item.OrderItem</td>
                        <td class="text-center">@item.SapOrderQty</td>
                        <td class="text-center">@item.SapDueDate</td>
                        <td class="text-center">@item.MoOrderQty</td>
                        <td class="text-center">@item.MoDueDate</td>
                        @*<td class="text-center">@item.KiwiOrderQty</td>
                        <td class="text-center">@item.KiwiDueDate</td>*@
                    </tr>
                }
            }
        }
    </tbody>
</table>