@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@model IEnumerable<PMTs.DataAccess.ModelView.Report.ReportCheckOrderModel>*@
@model IEnumerable<PMTs.DataAccess.ModelView.Report.CheckDiffDueDate>
@using System.Linq

@{
    ViewData["Title"] = "ReportCheckDiffDuedate";
}

<style>
    .LockScreen {
        display: block;
        visibility: visible;
        position: absolute;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 105%;
        height: 105%;
        background-color: transparent;
        vertical-align: bottom;
        padding-top: 20%;
        filter: alpha(opacity=75);
        opacity: 0.70;
        font-size: large;
        color: blue;
        font-style: italic;
        font-weight: 400;
        background-image: url("/images/report-preloading.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .swal-footer {
        text-align: center;
    }

    .tab-criteria {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
        display: inline-block;
        display: block;
        text-align: center;
        color: black;
        padding: 2em;
        border: none;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        /*box-shadow: 0px 0px 1px rgba(0,0,0,0.4);*/
        text-decoration: none !important;
        font-size: 1em;
        background-color: white;
    }
</style>

<div id="preLoadingScreen" class="LockScreen"></div>

<div class="row">
    <div class="col-12">
        <div class="card card-top-bar">
            <div class="card-header">
                <div class="row box">
                    <div class="col-md-12">
                        <h3 class="text-themecolor"><i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i> @Localizer["Headerreport"] </h3>
                    </div>
                </div>
            </div>

            <div class="card-body tab-criteria">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row line-space">
                            <div class="form-group col-md-3" style="padding: 0px;text-align: right;">
                                <label class=" vertical-sub-text  ml-5 mt-1">@Localizer["Headerreport2"]</label>
                            </div>
                            <div class="form-group col-md-1">
                                <input class="form-control text-center" id="RepeatNum" style="font-weight:bolder;" type="number" @*placeholder="Ex. 3" *@ onchange="CheckRepeatNum(this)" />
                            </div>
                            <div class="form-group col-md-1">
                                <label class=" vertical-sub-text  mr-5 mt-1" style="float: left;">@Localizer["day"]</label>
                            </div>

                            @*<div class="form-group col-md-5" style="padding: 0px;">
                                    <div class="row line-space">
                                        <div class="form-group col-md-4 title-label">
                                            <label class=" vertical-sub-text mt-1" style="float: right;">@Localizer["กำหนดส่งเริ่มต้น"]</label>
                                        </div>
                                        <div class='col-sm-8'>
                                            <div class="form-group">
                                                <div class='input-group date'>
                                                    <input type='text' id="input-datetimepicker-start" class="form-control text-center datepicker-dropdown col-md-9" style="min-width:253px;max-width: 253px;" onchange="ChangeDate(this,'StartDueDateReq')" placeholder="-- Please Select Strat Date --" />
                                                </div>
                                            </div>

                                            <span class="text-danger" id="StartDueDateReq" hidden>The Start Due Date field is requried.</span>
                                        </div>

                                        <div class="form-group col-md-4 title-label">
                                            <label class=" vertical-sub-text mt-1" style="float: right;">@Localizer["กำหนดส่งสุดท้าย"]</label>
                                        </div>
                                        <div class='col-sm-8'>
                                            <div class="form-group">
                                                <div class='input-group date'>
                                                    <input type='text' id="input-datetimepicker-end" class="form-control text-center datepicker-dropdown col-md-9" style="min-width:253px;max-width: 253px;" onchange="ChangeDate(this,'EndDueDateReq')" placeholder="-- Please Select End Date --" />
                                                </div>
                                            </div>

                                            <span class="text-danger" id="EndDueDateReq" hidden>The End Due Date field is requried.</span>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="form-group col-md-5" style="padding: 0px;">
                                <div class="row line-space">
                                    <div class="form-group col-md-4 title-label">
                                        <label class=" vertical-sub-text mt-1" style="float: right;">@Localizer["duedatestart"]</label>
                                    </div>
                                    <div class='col-sm-8'>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input type='date' id="input-datetimepicker-start" class="form-control text-center datepicker-dropdown col-md-9" style="min-width:253px;max-width: 253px;" onchange="ChangeDate(this,'StartDueDateReq')" placeholder="-- Please Select Strat Date --" />
                                            </div>
                                        </div>

                                        <span class="text-danger" id="StartDueDateReq" hidden>@Localizer["The Start Due Date field is requried."]</span>
                                    </div>

                                    <div class="form-group col-md-4 title-label">
                                        <label class=" vertical-sub-text mt-1" style="float: right;">@Localizer["duedateend"]</label>
                                    </div>
                                    <div class='col-sm-8'>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input type='date' id="input-datetimepicker-end" class="form-control text-center datepicker-dropdown col-md-9" style="min-width:253px;max-width: 253px;" onchange="ChangeDate(this,'EndDueDateReq')" placeholder="-- Please Select End Date --" />
                                            </div>
                                        </div>
                                        <span class="text-danger" id="EndDueDateReq" hidden>@Localizer["The End Due Date field is requried."]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-2" style="padding: 0px;">
                                <button type="button" class="btn btn-info" style="max-height:30px;min-width:100px;float: left;" onclick="SearchCheckOrder()">@Localizer["Search"]</button>
                            </div>

                            @*<div class="form-group col-md-1" style="padding: 0px;padding-left: 15px;">
                                    <button type="button" class="btn btn-info" style="max-height:30px;min-width:135px;" onclick="PrintReport()"><i class="fa fa-print ml-1"></i>&nbsp;@Localizer["พิมพ์รารยงาน"]</button>
                                </div>*@
                        </div>

                        <hr />
                    </div>

                    <div id="divReportCheckOrderTable" class="card-body" style="padding:2px 2px 10px 2px;">
                        <partial name="_ReportCheckDiffDuedate" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Datatable CSS -->
    <link rel="stylesheet" type="text/css" href="~/DataTable/css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTable/css/buttons.dataTables.min.css" />
    <script type="text/javascript" src="~/DataTable/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTables/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/jszip.min.js"></script>

    <script>
        window.pdfMake.fonts = {
            THSarabunNew: {
                normal: 'THSarabunNew.ttf',
                bold: 'THSarabunNew.ttf',
                italics: 'THSarabunNew.ttf"',
                bolditalics: 'THSarabunNew.ttf',
            }
        };
        $(document).ready(function () {
            $("#RepeatNum").val(180);

            $('#ReportCheckOrderTable').DataTable({
                "scrollX": true,
                "order": [[0, "asc"]],
                "dom": 'Bfrt<"float-left",i>p',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    {
                        extend: 'pdf',
                        text: 'พิมพ์รายงาน',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        filename: 'ReportCheckDiffDuedate_' + new Date().toJSON().slice(0, 10).toString().replace('-', '_'),
                        exportOptions: {
                            columns: ':visible',
                            search: 'applied',
                            order: 'applied'
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                            doc.defaultStyle = {
                                font: 'THSarabunNew'
                            }

                            doc.content[0].text = "รายงาน order ที่ไม่ได้สั่งมานานมากกว่า " + $("#RepeatNum").val()+" วัน";
                        }
                    }, {

                        extend: 'excelHtml5',
                        messageTop: "รายงาน order ที่ไม่ได้สั่งมานานมากกว่า " + $("#RepeatNum").val() + " วัน",
                        text: 'ดาวน์โหลด Excel', "createEmptyCells": true,
                        exportOptions: {
                            title: null, orthogonal: 'export'
                        }
                    }
                ],
                "oLanguage": {
                    "sSearch": "ค้นหา:"
                }
            });

            $("#preLoadingScreen").hide();

            document.getElementById('input-datetimepicker-start').value = new Date().toJSON().slice(0, 10);
            document.getElementById('input-datetimepicker-end').value = new Date(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()).toJSON().slice(0, 10);
        });

        $("#input-datetimepicker-start").focus(function () {
            $(this).attr({ type: 'date' });

            document.getElementById('input-datetimepicker-start').value = new Date().toJSON().slice(0, 10);
            $("#input-datetimepicker-start").attr('min', new Date().toJSON().slice(0, 10));
            $("#input-datetimepicker-start").attr('max', new Date().toJSON().slice(0, 10));
        });

        $("#input-datetimepicker-end").focus(function () {
            $(this).attr({ type: 'date' });
            $("#input-datetimepicker-end").attr('min', new Date().toJSON().slice(0, 10));
            $("#input-datetimepicker-end").attr('max', new Date(new Date().getFullYear(), new Date().getMonth() + 12, new Date().getDate()).toJSON().slice(0, 10));
        });

        function SearchCheckOrder() {
            //preLoadingScreen
            $("#preLoadingScreen").show();

            if ($("#input-datetimepicker-start").val() == "") {
                $("#input-datetimepicker-start").focus();

                $("#StartDueDateReq").attr("hidden", false);
            }
            else if ($("#input-datetimepicker-end").val() == "") {
                $("#input-datetimepicker-end").focus();
                $("#EndDueDateReq").attr("hidden", false);

                $("#StartDueDateReq").attr("hidden",true);
            }
            else
            {
                $("#StartDueDateReq").attr("hidden", true);
                $("#EndDueDateReq").attr("hidden", true);

                var startDueDate = $("#input-datetimepicker-start").val();
                var endDueDate = $("#input-datetimepicker-end").val();
                var repeatNO = $("#RepeatNum").val();
                //Search
                $.ajax({
                    type: "POST",
                    async: false,
                    dataType: "json",
                    url: '@Url.Action("SearchReportCheckDiffDueDate", "Report")',
                    data: { startDueDate: startDueDate, endDueDate: endDueDate, repeatCount: repeatNO},
                    success: function (res) {
                        if (res.IsSuccess) {

                            setTimeout(function () {
                                //hide loading
                                $("#preLoadingScreen").hide();
                            }, 1000);

                            $('#divReportCheckOrderTable').html(res.View);
                            $('.modal-backdrop').css('display', 'none');
                            $('#ReportCheckOrderTable').DataTable({
                                "scrollX": true,
                                "order": [[0, "asc"]],
                                "dom": 'Bfrt<"float-left",i>p',
                                "alignment": "center",
                                "paging": true,
                                "autoWidth": true,
                                "buttons": [
                                    {
                                        extend: 'pdf',
                                        text: 'พิมพ์รายงาน',
                                        orientation: 'landscape',
                                        pageSize: 'A4',
                                        filename: 'ReportCheckDiffDuedate_' + new Date().toJSON().slice(0, 10).toString().replace('-', '_'),
                                        exportOptions: {
                                            columns: ':visible',
                                            search: 'applied',
                                            order: 'applied'
                                        },
                                        customize: function (doc) {
                                            doc.content[0].text = "รายงาน order ที่ไม่ได้สั่งมานานมากกว่า " + $("#RepeatNum").val() + " วัน";
                                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                                            doc.defaultStyle = {
                                                font: 'THSarabunNew'
                                            }

                                            doc.styles.title = {
                                                color: 'black',
                                                fontSize: '18',
                                                bold: true,
                                                alignment: 'center'
                                            }

                                            doc.styles.tableHeader = {
                                                alignment: "center",
                                                bold: true,
                                                color: "white",
                                                fillColor: "#2d4154",
                                                fontSize: '12',
                                            }

                                            var rowCount = doc.content[1].table.body.length;
                                            doc.content[1].table.widths = [
                                                "5%",
                                                "10%",
                                                "10%",
                                                "10%",
                                                "20%",
                                                "10%",
                                                "10%",
                                                "10%",
                                                "10%",
                                                "5%"
                                            ];

                                            for (i = 1; i < rowCount; i++) {
                                                doc.content[1].table.body[i][0].alignment = 'center';
                                                doc.content[1].table.body[i][1].alignment = 'center';
                                                doc.content[1].table.body[i][2].alignment = 'center';
                                                doc.content[1].table.body[i][3].alignment = 'center';
                                                doc.content[1].table.body[i][4].alignment = 'left';
                                                doc.content[1].table.body[i][5].alignment = 'center';
                                                doc.content[1].table.body[i][6].alignment = 'center';
                                                doc.content[1].table.body[i][7].alignment = 'center';
                                                doc.content[1].table.body[i][8].alignment = 'center';
                                                doc.content[1].table.body[i][9].alignment = 'center';
                                            }
                                        }
                                    }, {

                                        extend: 'excelHtml5',
                                        messageTop: "รายงาน order ที่ไม่ได้สั่งมานานมากกว่า " + $("#RepeatNum").val() + " วัน",
                                        text: 'ดาวน์โหลด Excel', "createEmptyCells": true,
                                        exportOptions: {
                                            title: null, orthogonal: 'export'
                                        },
                                        customize: function (xlsx) {
                                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                            // Loop over the cells
                                            $('row c', sheet).each(function () {
                                                //select the index of the row
                                                var numero = $(this).parent().index();
                                                var residuo = numero % 2;
                                                if (numero == 1) {
                                                    $(this).attr('s', '51');
                                                } else if (numero == 2) {
                                                    $(this).attr('s', '47');
                                                } else if (numero > 1) {
                                                    if (residuo == 0) {//'is t',
                                                        $(this).attr('s', '25');
                                                    } else {
                                                        $(this).attr('s', '30');
                                                    }
                                                }
                                            });
                                        },
                                    }
                                ],
                                "oLanguage": {
                                    "sSearch": "ค้นหา:"
                                }
                            });

                        }
                        else {

                            $("#preLoadingScreen").hide();
                            swal("Search Failed!", res.ExceptionMessage, "warning");
                        }
                    },
                    error: function () {

                        $("#preLoadingScreen").hide();
                    }
                });
            }
        }

        function CheckRepeatNum(item)
        {
            if ($(item).val() < 3)
            {
                $(item).val(3);
                $(item).focus();
            }
        }

        function ChangeDate(item , attribute)
        {
            if ( $(item).val() != "")
            {
                $("#" + attribute).attr("hidden", true);
            }

            let dateStart = $("#input-datetimepicker-start").val();
            let dateEnd = $("#input-datetimepicker-end").val();
            if (dateStart != "" && dateEnd != "") {
                if (new Date(dateStart) > new Date(dateEnd)) {
                    $("#input-datetimepicker-end").val("");
                    $("#input-datetimepicker-end").focus();
                }
            }
        }
    </script>
}